<?php


class /*/>exec: str_replace(' ', '', ucwords($lower_class_name)); /*/
{

/*/>include: CommonTraits.php.template /*/
    
    const SPECIAL_CONSTANT = /*/>string: $php_code_which_should_be_escaped $normal_text/*/;
    
}